* {
  box-sizing: border-box;
}

body {
  background: $white;
  margin: 0%;
  font-family: "Manrope", sans-serif;
}

ul,
ol {
  li {
    text-decoration: none;
    list-style: none;
  }
}

.page_not_found {
  background: $brand-primary;
  height: 100vh;
  text-align: center;

  .img-container {
    // border-bottom: 4px solid #04080d;

    .stars{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
  }

.border-line--black{
    border: 4px solid #04080d;
    position: relative;
    top: -15px;
}

  .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 52px;
    color: $white;
    margin-top: 52px;
  }

  .btn {
    margin-top: 32px;
  }
}
