/** Colors */
$brand-primary: #091071;
$brand-secondary: #ff33ae;
$brand-accent: #FFBE2C;

$black: #0F173D;
$gray_01: #676C86;
$gray_02: #FAFAFA;
$white: #ffffff;
$light_secondary: #FFF2FA;
$dark_primary: #03095D;

/** Box Model  */
$spacer: 2rem;
