.justify-content-between {
  justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.flex_box {
  display: flex;
}

.flex_box-column {
  flex-direction: column;
}

.mb-2{
    margin-bottom: 2rem;
}
