@media screen and (max-width: 576px) {
  .h-col-3,
  .h-col-4,
  .h-col-6,
  .h-col-8 {
    flex: 0 0 100%;
  }

  // controls
  .controls {
    .glider-prev,
    .glider-next {
      width: 28px !important;
      height: 28px !important;
    }
  }

  //   service layout
  .service {
    .h-col-8 {
      .service_item {
        flex-direction: column;
        align-items: baseline;
        .service_name {
          margin-left: 0px;
        }
      }
    }
  }

  //   typography
  .title {
    font-size: 32px;
    line-height: 42px;
  }

  .hero {
    .hero-content {
      .title {
        font-size: 32px;
        line-height: 42px;
      }

      .sub_title {
        font-size: 24px;
        line-height: 32px;
      }

      .content {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  //   testimonial
  .testimonial {
    .card-slider {
      .card {
        .quote {
          width: 28px;
        }

        .content {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }

  //   footer
  footer {
    .cta {
      .h-col-4 {
        text-align: start;
      }
    }

    .footer_bottom {
      .flex_box {
        flex-direction: column;

        .links {
          margin-top: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  .hero-image {
    display: none;
  }

  .h-col-3,
  .h-col-4,
  .h-col-6,
  .h-col-8 {
    flex: 0 0 100%;
  }

  // Ourwork
  .approach-box {
    display: block;
  }

  .work {
    .row {
      width: 96%;
    }
  }

  //   experience
  .experience {
    .row {
      row-gap: 32px;
      .experience_item {
        flex: 0 0 50%;
      }
    }
  }

  //   testimonial
  .testimonial {
    .controls {
      top: 0px;
      display: flex;
      gap: 24px;
      margin-top: 24px;

      .glider-next {
        right: auto;
        position: relative;
      }
      .glider-prev {
        left: 0;
        position: relative;
      }
    }
  }

  //   blog page
  .half-width--blog {
    max-width: 100% !important;
  }

//   contact page
  .contact-form {
    &--image {
        img{
            height: 500px !important; 
            object-fit: cover;
        }
    }
    &--content {
        padding-left: 0px !important;
    }
  }
}

@media screen and (max-width: 1400px) {
  // Hero
  .hero {
    .hero-image {
      width: 400px;
      height: 400px;
    }
  }

  //   testimonial
  .testimonial {
    .controls {
      top: 0px;
      display: flex;
      gap: 24px;
      margin-top: 24px;

      .glider-next {
        right: auto;
        position: relative;
      }
      .glider-prev {
        left: 0;
        position: relative;
      }
    }
  }
}
