// Importing Common assets
@import "common/variables";
@import  "common/normalize";
@import  "common/container";
@import "common/hero";
@import "common/utilities";
@import "common/typography";
@import "common/grid";
@import "common/global";

// Components
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/nav";
@import "components/wp-classes";
@import "components/badge";

// Importing Pages
@import "pages/home";

// Layouts
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/responsive";